<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>sysbio</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: sysbio - v4.7.0
    * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

    <link
            type="text/css"
            rel="stylesheet"
            href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
    />
    <!-- Required scripts -->
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="index.html">sysbio.<span style="color: #6c63ff">ua</span></a></h1>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto " href="index.html">Home</a></li>
                <li><a class="nav-link scrollto" href="research.html">Research</a></li>
                <li><a class="nav-link scrollto" href="publications.html">Publications</a></li>
                <li class="dropdown"><a href="tools.html"><span>Tools</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="software.html">Software</a></li>
                        <li><a href="equipment.html">Equipment</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto active" href="team.html">Team</a></li>
                <li><a class="nav-link scrollto" href="opportunities.html">Opportunities</a></li>
                <li><a class="nav-link scrollto" href="contacts.html">Contacts</a></li>
                <li><a class="getstarted scrollto" href="opportunities.html">Support us</a></li>
                <li>
                    <a class="nav-link" href="opportunities.html"><span style="color: #6c63ff"> EN  </span> | UA </a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
</header><!-- End Header -->

<main id="main">

    <!-- ======= Team Section ======= -->
    <section id="staff" class="team section-bg mt-5">
        <div class="container">

            <div class="section-title">
                <h2>Staff</h2>
                <p>Permanent members of the sysbio.ua</p>
            </div>

            <div class="row">
                <div class="col-lg-2 col-md-4 d-flex align-items-stretch mx-auto" v-for="person in staff">
                    <div class="member">
                        <div class="member-img">
                            <!--                            <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">-->
                            <img :src="person.photo" class="img-fluid " alt="">
                            <div class="social">
                                <a :href="person.google_scholar"><img
                                        src="assets/img/icons8-google-scholar-24.png"></a>
                                <a :href="'mailto:'+person.email"><i class="bi bi-envelope"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4><a href="team-details.html">{{person.name}} {{person.surname}}<a/></h4>
                            <span class="inline-position" style="white-space: pre;">{{person.position}}</span>
                            <hr class="mb-0 mt-1"/>
                            <span class="mt-1  fst-italic ">{{person.profile}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Team Section -->
    <section id="phd" class="team section-bg mt-0 pt-0">
        <div class="container">

            <div class="section-title">
                <h2>Students</h2>
                <p>Future scientists who are developing in various fields of biology</p>
            </div>

            <div class="row">
                <div class="col-lg-2 col-md-4 d-flex align-items-stretch mx-auto" v-for="person in stu">
                    <div class="member">
                        <div class="member-img">
                            <img :src="person.photo" class="img-fluid " alt="">
                            <div class="social">
                                <a :href="person.google_scholar"><img
                                        src="assets/img/icons8-google-scholar-24.png"></a>
                                <a :href="'mailto:'+person.email"><i class="bi bi-envelope"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4><a href="team-details.html">{{person.name}} {{person.surname}}<a/></h4>
                            <span>{{person.position}}</span>
                            <hr class="mb-0 mt-1"/>
                            <span class="mt-1  fst-italic ">{{person.profile}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Team Section -->
    <section id="faq" class="faq">
        <div class="container">
            <div class="section-title">
                <h2>Alumni</h2>
            </div>
            <div class="row faq-item d-flex align-items-stretch mx-auto "
                 v-for="person in alumni">
                <div class="col-lg-2">
                    <!--                    <i class="ri-question-line"></i>-->
                    {{person.graduation_year}}
                </div>
                <div class="col-lg-3">
                    {{person.name}} {{person.surname}}
                </div>
                <div class="col-lg-7">
                    <p>
                        {{person.description}}
                    </p>
                </div>
            </div><!-- End F.A.Q Item-->

        </div>
    </section>
    <!-- ======= Contact Section ======= -->
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <!--    <section id="contact" class="contact">-->
    <div class="container">
        <div class="row contact d-flex align-items-center ">

            <div class="col-lg-6 col-md-6  col-lg-offset-10 col-md-offset-10 text-lg-left ">
                <div class="contact-about">
                    <h3>sysbio.<span class="accent">ua</span></h3>
                    <p>We are team of talented scientists making bio research</p>
                    <div class="social-links">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mt-md-0 text-lg-left">
                <div class="info">
                    <div class="pb-1">
                        <h5> System Biology Group</h5>
                        <!--                        <h6>System Biology Group</h6>-->
                    </div>
                    <div>
                        <i class="ri-map-pin-line"></i>
                        <p>
                            <a href="http://imbg.org.ua/uk/dept/enzymology/lab_sysbiol/">Institute of Molecular Biology
                                and Genetics</a>,
                            </br> 150, Academician Zabolotny street,<br/> Kyiv, Ukraine, 03680</p>
                    </div>

                    <div>
                        <i class="ri-mail-send-line"></i>
                        <p>admin@sysbio.org.ua</p>
                    </div>

                    <div>
                        <i class="ri-phone-line"></i>
                        <p> +38 (044) 526-11-69</p>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <section class="footer pb-0 mb-0">
        <div class="container">

            <div class="row d-flex align-items-center">
                <div class="col-lg-6 col-md-6 text-lg-left">
                    <div class="copyright">
                        &copy; Copyright <strong>sysbio</strong>. All Rights Reserved
                    </div>
                </div>
                <div class="credits pb-1">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </div>
    </section>
</footer><!-- End Footer -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/purecounter/purecounter.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>
<script type="module">
    window.app = new Vue({
        el: '#main',
        data: {
            "staff": [
                {
                    "name": "Olga",
                    "surname": "Martsenyuk",
                    "position": "Senior Researcher",
                    "photo": "assets/img/team/avatar.jpg",
                    "twitter": "",
                    "email": "o.p.martsenyuk@imbg.org.ua",
                    "linkedin": "",
                    "google_scholar": "",
                    "profile": "experimental molecular biology"
                },
                {
                    "name": "Oleksandr",
                    "surname": "Lykhenko",
                    "position": "Junior Research Fellow",
                    "photo": "assets/img/team/avatar.jpg",
                    "twitter": "",
                    "email": "lykhenko.olexandr@gmail.com",
                    "linkedin": "",
                    "google_scholar": "",
                    "profile": "proteomics, metabolic pathways modelling"
                },
                {
                    "name": "Maria",
                    "surname": "Obolenska",
                    "position": "Professor, Dr. Sci.,\n Group Leader",
                    "photo": "assets/img/team/maria-obolenska.jpg",
                    "twitter": "",
                    "email": "m.obolenska@gmail.com",
                    "linkedin": "",
                    "google_scholar": "",
                    "profile": "computational and molecular biology"
                },
                {
                    "name": "Alina",
                    "surname": "Frolova",
                    "position": "Junior Research Fellow",
                    "photo": "assets/img/team/alina-frolova.png",
                    "twitter": "",
                    "email": "a.o.frolova@imbg.org.ua",
                    "linkedin": "",
                    "google_scholar": "",
                    "profile": "computational biology and bioinformatics"
                },
                {
                    "name": "Maria",
                    "surname": "Chabanova",
                    "position": "Technician",
                    "photo": "assets/img/team/avatar.jpg",
                    "twitter": "",
                    "email": "",
                    "linkedin": "",
                    "google_scholar": "",
                    "profile": "lab equipment"
                }
            ],
            "stu": [
                {
                    "name": "Artem",
                    "surname": "Kicedzhi",
                    "position": "Bachelor's student",
                    "photo": "assets/img/team/avatar.jpg",
                    "twitter": "",
                    "email": "",
                    "linkedin": "",
                    "google_scholar": "",
                    "profile": "molecular biology"
                },
                {
                    "name": "Yurii",
                    "surname": "Ryzhuk",
                    "position": "Master's student",
                    "photo": "assets/img/team/yurii-ryzhuk.jpg",
                    "twitter": "",
                    "email": "",
                    "linkedin": "",
                    "google_scholar": "",
                    "profile": "molecular biology, data-mining"
                },
                {
                    "name": "Stanislav",
                    "surname": "Zubenko",
                    "position": "PhD student",
                    "photo": "assets/img/team/avatar.jpg",
                    "twitter": "",
                    "email": "dantistnfs@gmail.com",
                    "linkedin": "",
                    "google_scholar": "",
                    "profile": "molecular biology, data-mining"
                },
                {
                    "name": "Dmytro",
                    "surname": "Goryslavets",
                    "position": "Master's student",
                    "photo": "assets/img/team/dmytro-goryslavets.jpg",
                    "twitter": "",
                    "email": "",
                    "linkedin": "",
                    "google_scholar": "",
                    "profile": "computational biology and bioinformatics"
                },

                {
                    "name": "Anna",
                    "surname": "Manko",
                    "position": "Master's student",
                    "photo": "assets/img/team/anna-manko.jpg",
                    "twitter": "",
                    "email": "",
                    "linkedin": "",
                    "google_scholar": "",
                    "profile": "computational biology and bioinformatics"
                },

            ],
            "alumni": [
                {
                    "name": "Ruslan",
                    "surname": "Rodriguez",
                    "position": "",
                    "photo": "assets/img/team/avatar.jpg",
                    "twitter": "",
                    "email": "",
                    "linkedin": "",
                    "google_scholar": "",
                    "profile": "molecular biology, data-mining",
                    "graduation_year": 2021,
                    "description": "Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non"
                },
                {
                    "name": "Bogdan",
                    "surname": "Tokovenko",
                    "position": "",
                    "photo": "assets/img/team/avatar.jpg",
                    "twitter": "",
                    "email": "",
                    "linkedin": "",
                    "google_scholar": "",
                    "profile": "molecular biology, data-mining",
                    "graduation_year": 2017,
                    "description": "Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non"
                }
            ]
        }
    })
</script>

</html>
