<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <title>My first BootstrapVue app</title>

    <!-- Required Stylesheets -->
    <link
            type="text/css"
            rel="stylesheet"
            href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
            type="text/css"
            rel="stylesheet"
            href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
    />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>
<body>
<div id="demo">
    <div class="row" v-for="i in items">
        <span v-for="item in items">
      {{item}}
    </span>
    </div>
</div>
<!-- Start running your app -->
<script type="module">

    window.app = new Vue({
        el: '#demo',
        data: {
            items: [
                {
                    "id": 0,
                    "name": "test0",
                    "price": "$0"
                },
                {
                    "id": 1,
                    "name": "test1",
                    "price": "$1"
                },
                {
                    "id": 2,
                    "name": "test2",
                    "price": "$2"
                },
                {
                    "id": 3,
                    "name": "test3",
                    "price": "$3"
                },
                {
                    "id": 4,
                    "name": "test4",
                    "price": "$4"
                }
            ]
        }
    })
</script>
</body>
</html>